# Telecom Customer Churn Case Study

You have been provided with a dataset related to telecom customer churn. Each row in the dataset represents a unique customer, and the columns contain various attributes and information about these customers.

The data set includes information about:
- Churn Column: Indicates customer churn within the last month.
- Services Info: Subscribed services like phone, internet, etc.
- Account Details: Tenure, contract, billing, charges.
- Demographics: Gender, age, and family status.

## Load the dataset in a dataframe

In [1]:
#import necessary libraries
import pandas as pd
import numpy as np

In [8]:
#1. import the provided dataset to dataframe (telecom_customer_churn.csv)
#2. change the settings to display all the columns
#3. check the number of rows and columns
#4. check the top 5 rows
df = pd.read_csv("telecom_customer_churn.csv")
pd.set_option('display.max_columns',None)
print(df.shape)
df.head()

,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,internet_service,online_security,online_backup,device_protection,tech_support,streaming_tv,streaming_movies,contract,paperless_billing,payment_method,monthly_charges,total_charges,churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [9]:
#display all the column names
df.columns

Index(['customer_id', 'gender', 'senior_citizen', 'partner', 'dependents',
       'tenure', 'phone_service', 'multiple_lines', 'internet_service',
       'online_security', 'online_backup', 'device_protection', 'tech_support',
       'streaming_tv', 'streaming_movies', 'contract', 'paperless_billing',
       'payment_method', 'monthly_charges', 'total_charges', 'churn'],
      dtype='object')

In [11]:
# Check if the dataset contains nulls
df.isnull().sum()

customer_id          0
gender               0
senior_citizen       0
partner              0
dependents           0
tenure               0
phone_service        0
multiple_lines       0
internet_service     0
online_security      0
online_backup        0
device_protection    0
tech_support         0
streaming_tv         0
streaming_movies     0
contract             0
paperless_billing    0
payment_method       0
monthly_charges      0
total_charges        0
churn                0
dtype: int64

In [13]:
#check the datatype of all columns
df.dtypes

customer_id           object
gender                object
senior_citizen         int64
partner               object
dependents            object
tenure                 int64
phone_service         object
multiple_lines        object
internet_service      object
online_security       object
online_backup         object
device_protection     object
tech_support          object
streaming_tv          object
streaming_movies      object
contract              object
paperless_billing     object
payment_method        object
monthly_charges      float64
total_charges         object
churn                 object
dtype: object

In [15]:
# Fix the datatype
#convert the datatype of 'monthly_charges', 'total_charges', 'tenure' to numeric datatype (pd.to_numeric)
col_to_num = ['monthly_charges','total_charges','tenure']
df[col_to_num] = df[col_to_num].apply(pd.to_numeric , errors='coerce')

Q1 - Calculate the mean, median, and mode of the monthly_charges column

In [23]:
mean = df['monthly_charges'].mean()
mode = df['monthly_charges'].mode()
median = df['monthly_charges'].median()

print(f" Mean : {mean}")
print(f"Median : {median}")
print(f" Mode : {mode[0]}")

 Mean : 64.76169246059918
Median : 70.35
 Mode : 20.05

Q2 - Calculate the 25th, 50th, and 75th percentiles of the total_charges column

In [25]:
percentiles = df['total_charges'].quantile([0.25,0.50,0.75])

print(f' 25th Percentile : {percentiles[0.25]}')
print(f' 50th Percentile : {percentiles[0.50]}')
print(f' 75th Percentile : {percentiles[0.75]}')

 25th Percentile : 401.45
 50th Percentile : 1397.475
 75th Percentile : 3794.7375

Q3 - Calculate the range of monthly_charges column?

Hint - Range is the difference between max and min of monthly_charges.

In [27]:
r = df['monthly_charges'].max() - df['monthly_charges'].min()
print(f' Range of Monthly Charges Coloumn : {r}')

 Range of Monthly Charges Coloumn : 100.5

Q4 - What is the first quartile of the monthly_charges column for customers who have not churned?

In [33]:
first_quarter_monthly_charges_not_churned = df.loc[df['churn'] == "No" , 'monthly_charges'].quantile(0.25)
print(f'First Quarter Not Churned : {first_quarter_monthly_charges_not_churned}')

First Quarter Not Churned : 25.1

Q5 - What is the third quartile of the total_charges column for customers who have churned?

In [31]:
# second_quarter_churned = df.loc[df['churn'] == 'YES', 'total_charges'].quantile(0.75)
third_quartile_total_charges_churned = df.loc[df['churn'] == 'Yes', 'total_charges'].quantile(0.75)
print(f'Second Quarter Churned : {third_quartile_total_charges_churned}')

Second Quarter Churned : 2331.3

Q6-  What is the mode of the payment method column for customers who have churned?

In [34]:
mode_of_payment = df.loc[df['churn'] == 'Yes' , 'payment_method'].mode()[0]
print(f' Mode Of Payment : {mode_of_payment}')

 Mode Of Payment : Electronic check

Q7 - What is the mean of the total charges column for customers who have churned and have a month-to-month contract?

In [35]:
# Filter the rows based on the churn status and contract type
filtered_df = df.loc[(df['churn'] == 'Yes') & (df['contract'] == 'Month-to-month')]

# Calculate the mean of the total charges column
mean_total_charges = filtered_df['total_charges'].mean()

# Print the result
print('Mean of total charges column for customers who have churned and have a month-to-month contract:', mean_total_charges)

Mean of total charges column for customers who have churned and have a month-to-month contract: 1164.4605740181269

Q8 - What is the median of the tenure column for customers who have not churned and have a two-year contract?

In [36]:
filtered_df = df.loc[(df['churn'] == 'No') & (df['contract'] == 'Two year')]

# Calculate the median of the tenure column
median_tenure = filtered_df['tenure'].median()

# Print the result
print('Median of tenure column for customers who have not churned and have a two-year contract:', median_tenure)

Median of tenure column for customers who have not churned and have a two-year contract: 64.0